/* Light Mode (Default) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #0b0911;
        color: #9b9b9b;
    }
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    padding: 0;
    margin: 50px 150px;
}
/* topic */
h1, .chapter {
    width: 100%;
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
}
/* title */
h2, .section {
    font-size: 48px;
    font-weight: 900;
    text-decoration: underline;
}
/* subheader */
h3, .subsection {
    font-size: 36px;
    text-decoration: underline;
    font-weight: 900;
}

h4, .topic {
    font-size: 24px;
    text-decoration: underline;
    font-weight: 1000;
}

h5, .subtopic {
    font-size: 16px;
    text-decoration: underline;
    font-weight: 900;
}

h6, .note {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 900;
}

.summary {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 900;
}

.hometopics {
    font-size: 24px;
}

a {
    color: rgb(115, 115, 240);
}

li {
    margin-left: 20px;
}

.t-o-c > li{
    font-size: 30px;
    margin: 50px;
    list-style-type: none;
}


/* HTML Contents */
.htmlcolor {
    color: #e34C26;
}

/* CSS Contents */
.csscolor {
    color: #663399;
}

.h2-link-alignment {
    display: block;
    margin: 0;
}

/*Flexbox Contents */
.flexboxcolor {
    color: rgb(107, 75, 42);
}

.answer {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.question:hover + .answer{
    opacity: 1;
}

.flexbox-intro-link {
    margin: 0;
}

code {
    color: #e7bdd5;
}

/* JavaScript Contents */

.javascriptcolor {
    color: #f1e05a;
}

.vao-heading {
    font-size: 36px;
    font-weight: 900;
    text-decoration: underline;    
}

td, th {
    border: 2px solid #3d3d3d;
    text-align: left;
    padding: 8px;
}