/* Light Mode (Default) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #0b0911;
        color: #9b9b9b;
    }
}

a {
    color: rgb(115, 115, 240);
}

.link {
    font-size: 60px;
}