/* Light Mode (Default) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #0b0911;
        color: #9b9b9b;
    }
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    padding: 0;
    margin: 50px 60px;
}

h1 {
    width: 100%;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
    word-wrap: break-word;
}

h2 {
    font-weight: 900;
    text-decoration: underline;
}

h3 {
    font-size: 24px;
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
    font-weight: 1000;
}

.hometopics {
    font-size: 24px;
}

a {
    color: rgb(115, 115, 240);
}

li {
    margin-left: 20px;
}

.t-o-c > li{
    font-size: 30px;
    margin: 50px;
}

/* HTML Contents */
.htmlh1 {
    color: rgb(160, 30, 30);
}

/* CSS Contents */
.cssh1 {
    color: rgb(50, 50, 255);
}

.h2-link-alignment {
    display: block;
    margin: 0;
}

/*Flexbox Contents */
.flexboxh1 {
    color: rgb(100, 50, 0);
}

.flexbox-intro-link {
    margin: 0;
}

code {
    color: #e7bdd5;
}